.entry {
  .excerpt-thumbnail {
    display: inline;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
}

.posts {
  .post-container-box {
    margin-top: 0.5em;
    padding-bottom: 2em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid $lightGray;
  }
}

.byline {
  font-size: 14pt;
  .date {
    color: $darkGray;
  }
  .author {
    color: black;
    font-weight: bold;
  }
}

.crosspost {
  font-style: italic;
  color: $gray;
}

.caption {
  font-style: italic;
  color: $gray;
  font-size: 75%;
}

.footnotes {
  font-size: 75%;
}

.post {
  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    text-align: left;
    padding: 10px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post-full {
  .byline {
    margin-top: 1em;
    margin-bottom: 2em;
    border-bottom: 1px dotted $darkGray;
  }
}

.post, .page {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    // font-size: 22px;
    font-style: italic;
  }
}