---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    Posted by {{ page.author }} on {{ page.date | date: "%e %B %Y" }}
  </div>

  {% if page.crosspost %}
  <div class="crosspost">
  	This article has also been cross-posted at <a href="{{ page.crosspost }}">{{ page.crosspost_title }}</a> 
    {% unless page.allow_comments %}
    and you can comment there.
    {% endunless %}
  </div>
  {% endif %}
  
  <div class="entry">
    {{ content }}
  </div>

  {% if page.allow_comments %}
  {% include disqus.html %}
  {% endif %}
</article>
